/* ------------------------- SPACING ---------------------------------------- */

.m_1{
	margin:30px;
}
.mx_1{
	margin: 0 30px;
}

.my_1{
	margin: 30px 0;
}

.mt_1{
	margin-top: 30px;
}

.mb_1{
	
	margin-bottom: 30px;
}

.mr_1{
	margin-right: 30px;
}

.ml_1{
	margin-left:30px;
}

.p_1{
	padding:30px;
}
.px_1{
	padding: 0 30px;
}

.py_1{
	padding: 30px 0;
}

.pt_1{
	padding-top: 30px;
}

.pb_1{
	
	padding-bottom: 30px;
}

.pr_1{
	padding-right: 30px;
}

.pl_1{
	padding-left:30px;
}