


@font-face {
	font-family: 'Times New Roman', Times, serif;
	src: url(../fonts/times-new-roman.ttf) format("truetype");
	font-weight: 100;
  }
  
  @font-face {
	font-family: 'Inconsolata-Bold';
	src: url(../fonts/Inconsolata-Bold.ttf) format("truetype");
	font-weight: 200;
  }
  
  @font-face {
	font-family: 'Inconsolata-Regular';
	src: url(../fonts/Inconsolata-Regular.ttf) format("truetype");
	font-weight: 300;
  }
  
  @font-face {
	font-family: 'Suisse-Thin';
	src: url(../fonts/SuisseIntl-Thin.otf) format("opentype");
	font-weight: 400;
  }
  
  @font-face {
	font-family: 'Suisse-Regular';
	src: url(../fonts/SuisseIntl-Regular.otf) format("opentype");
	font-weight: 400;
  }

  @font-face {
	font-family: 'Suisse-Medium';
	src: url(../fonts/SuisseIntl-Medium.otf) format("opentype");
	font-weight: 400;
  }

html{
	font-size: 12px;
}

  h1{
	  font-family: 'Suisse-Thin';
	  font-weight: 400;
	  font-size: 35pt;
  
  }
  
  h2{
	  font-family: 'Suisse-Thin';
	  font-weight: 400;
	  font-size: 25pt;
	  margin-bottom:10px;
  }
  
  h3{
	  font-family: 'Suisse-Thin';
	  font-weight: 100;
	  font-size: 16pt;
	  color: #000000;	
  }


  h4{
	font-family: 'Suisse-Thin';
	font-weight: 100;
	font-size: 11pt;
	color: #000000;	
}
  
  
  h5{
  
	  margin-bottom:0px;
  }


  .header-1{
	  font-family: 'Suisse-Medium';
	  font-size:35pt;

  }

  .header-2{
	font-family: 'Suisse-Thin';
	font-weight: 400;
	font-size: 25pt;
	margin-bottom:10px;
  }

  .header-3{
	font-family: 'Suisse-Thin';
	font-weight: 100;
	font-size: 16pt;
	color: #000000;	
  }

  .header-4{
	font-family: 'Suisse-Regular';
	font-weight: 100;
	font-size: 16pt;
	color: #000000;	
  }

  
  #header-button {
	  display: inline;
  
  }

  .body {
	font-family: 'Suisse-Regular';
	font-weight:400;
	font-size: 12pt;
	color: black;
  }


   
  
  .overline {
	  font-family: 'Inconsolata-Regular';
	  font-weight:400;
	  font-size: 12pt;
	  color: #939393;
  }
  
  .subtitle {
	  font-family: 'Inconsolata-Regular';
	  font-weight: 200;
	  font-size: 12pt;
	  color: #000000;	
  
  }

.card-name{
	font-family: 'Suisse-Thin';
	font-size: 25pt;
	margin-bottom: px;
}


.project-title{
	font-family: 'Suisse-Thin';
	font-size: 35pt;
}

.project-cont{
	display: flex;
	align-items: center;
	flex-direction: column;

}

.project-nav{
	position: fixed;
	top: 50%;
	right: 4%;
}

.chap{
	display: block;
	font-family: 'Suisse-Regular';
	font-weight: 400;
	font-size: 15pt;
	font-style: italic;
}

.chapter{
	padding: 2rem 0 5rem 0;
}

.title-slide{
	margin: 13% 0 19%;
}

.background-info{
	margin: 10% 0 10%;
}

hr{
	color: black;
	margin-top: 2rem;
	margin-bottom:2rem;
}

.dotted{
  border:none;
  border-top:1px dotted #AAAAAA;
  color:#AAAAAA;
  background-color:#fff;
  height:1px;
  width:70%;
  align: left;
}


.list-unstyled {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.hero{
	position: static;
	width:40%;
	display: flex;

}
.hero-block{
	padding-right:50px;
	/* padding-left: 50px; */

}

nav{

	margin-top: 2rem;
	margin-bottom: 40px;
	text-align: right;
	margin-right:8rem;
	margin-left: 8rem;
}

.main{

	/* display: flex; */
/*	align-items: center;*/
/*  	justify-content: center;*/
	  padding-right: 100px;
	  padding-left: 100px;
}

.about{
	padding-top: 30px;
    padding-right: 300px;
    padding-left: 300px;
    padding-bottom: 250px;
}

.column {
  flex: 50%;
  margin-top:100%;
  padding-right: 100px;
  padding-left: 100px;
  align-items: center;
  justify-content: center;*/


/*  height: 300px;*/ /* Should be removed. Only for demonstration */
}
.projects{
	margin-top:80px;

}

.card-container{
	height: 300px;
	padding:0px;
}

.mycard{
	display:flex;
	flex-direction: column;
    justify-content: flex-end;

}

.mycard#one {
	height: 300px;
	width: 100%;
	background-color: #7BA7E9;
	

}

.mycard#two{
	height: 150px;
	width:100%;
	background-color:#A9E8B3;
}

.mycard#three{
	height:150px;
	width:100%;
	background-color: #9F7ADD;
}

.mycard#four{
	height: 200px;
	width:100%;
	background-color:#F08868;
}

.mycard#five{
	height:100px;
	width: 100%;
	background-color: #C4C4C4;

}


.list1{
/*	flex: 50%;*/
	padding: 25%;


}

.square{
/*	flex: 50%;*/
	height: 300px;
  	width: 550px;
  	background-color-color: #555;
  	float: right;
  	display:inline-block;

}

.big-square{
	height: 600px;
	width: 100%;
	background-color: #555;
}
.list{
	display:inline-block;
	margin: 0;
  	position: absolute;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
body
	background-color: #fffff;
}

.row{
	display: flex;
	justify-content: center;
	margin-bottom: 64px;
}

.left-preview{
	position: relative;
	display: inline-block;
	width: 400px;
	margin-right: 220px;
}
.right-preview{
	position: relative;
	display: inline-block;
	width: 400px;
}

.logo {
	height: 50px;
	width: 50px;
	background-color: #6F28A7;

}

.section {
	padding-top: 100px;
	padding-bottom: 100px;
	padding-right:150px;
	padding-left:150px;

}

.centered{
	padding-right: 170px;
	padding-left: 170px;

}

.left{
	padding-right:35px;
}

.right{
	padding-left:50px;
}

.uptop{
	background-image: url(assets/icons/upbutton.svg);
	margin-top: 20px;


}

a, a:visited, a:active {
	color: #000000;
  position: relative;
  text-decoration: none;
}


img{
    /* max-height:500px;
    max-width:500px;
    height:auto;
    width:auto; */
}

.narrow1{
	/* padding-top:100px; */
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 100px;
}

.narrow2{
	/* padding-top:80px; */
	padding-bottom:50px;
	padding-left:200px;
	padding-right:200px;
}



#photos-3{
	padding-top:100px;
	padding-left:150px;
	padding-right:150px;

}

#caption-3{
	padding-top:50px;
	padding-bottom:50px;
	padding-left:250px;
	padding-right:250px;


}

.center{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (max-width: 992px) {
	.main{
		padding: 0 1rem 0 1rem;
	}
	h1{
		font-size: 2.5rem;
	}

	h2{
		font-size: 2 rem;
		
	}

	nav{
		margin-top: 2rem;
		margin-bottom: 40px;
		text-align: right;
		margin-right: 2rem;
		margin-left: 2rem;
	}

	
}
/* 
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
 */
