
/* --------------- general styling -------------------------------------------- */

html{
	font-size: 12pt;
}

body{
	background-color: #F2F2F2;
}

.row{
	margin-right:0;
	margin-left:0;
}

.container-fluid{
	padding: 0;
	/* max-width:1280px; */
	
}

a:hover {
	/* color: blue; */
	text-decoration: none; /* no underline */
	cursor: pointer;
	
  }

/* --------------- text-styling -------------------------------------------- */

@font-face {
font-family: 'Suisse-Thin';
src: url(../fonts/SuisseIntl-Thin.otf) format("opentype");
font-weight: 400;
}

@font-face {
font-family: 'Suisse-Regular';
src: url(../fonts/SuisseIntl-Regular.otf) format("opentype");
font-weight: 400;
}

@font-face {
font-family: 'Suisse-Medium';
src: url(../fonts/SuisseIntl-Medium.otf) format("opentype");
font-weight: 400;
}

@font-face {
	font-family: 'iA-italic';
	src: url(../fonts/iAWriterDuospace-RegularItalic.otf)

}

@font-face {
	font-family: 'iA-regular';
	src: url(../fonts/iAWriterDuospace-Regular.otf)
}

@font-face {
	font-family: 'Telegraf-Lite';
	src: url(../fonts/Telegraf/Telegraf-UltraLight.otf)
}

@font-face {
	font-family: 'Telegraf-Regular';
	src: url(../fonts/Telegraf/Telegraf-Regular.otf)
}


@font-face {
	font-family: 'Telegraf-Bold';
	src: url(../fonts/Telegraf/Telegraf-Bold.otf)

}

@font-face {
	font-family: 'Telegraf-UltraBold';
	src: url(../fonts/Telegraf/Telegraf-UltraBold.otf)

}




h1{
	font-family: 'Telegraf-UltraBold';
	font-weight: 400;
	font-size: 2.0rem;
	line-height: 2.2rem;
	color: #40424A;
	padding-bottom:15px;
	margin:0
	


}

h2{
	font-family: 'Telegraf-Regular';
	font-weight: 400;
	font-size: 1.3rem;
	line-height: calc(1.3rem * 1.25);
	color: #40424A;
	/* margin-bottom:10px; */
}


h3{
	font-family: 'Telegraf-Bold';
	font-weight: 400;
	font-size: 1.3rem;
	color: #40424A;
	/* margin-bottom:10px; */
}

.button h4{
	font-size: 1.0rem;
	margin-bottom:0;
	color: #40424A;
	font-family:'Telegraf-Regular';
}



h5{
	font-family: 'Suisse-Medium';
	font-size: 1.1rem;
	color: #40424A;
	padding-bottom: 10px;
}


p{
font-family: 'Telegraf-Regular';
font-size: .95rem;
margin:0;
color: #40424A;
padding-bottom: 25px;

}
b{
	font-family: 'Suisse-Medium';
}

.button p{
	padding-bottom:0;
}

.pressed{
	background-color: #CC6117;

}


.overline {
	font-family: 'iA-italic';
	font-weight:400;
	font-size: .8rem;
	/* color: #5E70B1; */
	/* letter-spacing: 1; */
	padding-bottom: .45rem;

	/* color: #ffffff; */
}

.overline#louvre{
	color: #219653;
}

.overline#mayv{
	color:#CC6117;
}

.overline#ubiq{
	color: 
}


.label{
	
	font-size: .7rem;
	font-family: 'iA-italic';
	color: #4F4F4F;
	padding: 0;
							
}


mark{
	background-color: #FFEB36;
	background-radius: 5px;

}
t.project-nav{
	/* margin-top: 2rem;
	margin-bottom: 40px; */
	text-align: right;
	/* margin-right: 2rem;
	margin-left: 2rem; */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

}

/* ol li{

	font-family: 'Suisse-Regular';
	font-size: 1rem;
	color: #40424A;

} */

.section{
	margin-bottom: 80px;
}

.showcase{
	padding: 30px;
	
}

/* ------------------------------Navbar ------------------------------------------------------------ */

.navbar{
	padding: .8rem;
	position: absolute;
    z-index: 2;
}


/* ---------------------------iframe styling ----------------------- */

.iframe-container {
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
  }
   
  .iframe-container iframe {
	 border: 0;
	 height: 100%;
	 left: 0;
	 position: absolute;
	 top: 0;
	 width: 100%;
  }
   
  /* 4x3 Aspect Ratio */
  .iframe-container-4x3 {
	padding-top: 75%;
  }



/* ------------------------------Intro-Writeup Styling ------------------------------------------------------------ */

.title-slide{
	height: 100%;
	
	/* display: flex; */
	
	
}
.feature-display{
	background-color: #E5CEAD;
	padding: 30px;
	height: 550px;
	align-items: center;
}

.feature-panel{
	padding:30px 15px;
}

.features{
	/* background-color:FAF2E3; */
	border-bottom: solid;
	border-top:solid;
	border-width: 1px;
	/* padding:30px; */

	
}
.title-slide#ubiq{ 
	background-color: #535C7A;
}
.title-slide#mayv{ 
	background-color: #E5CEAD;
}


.title-slide#louvre{
	background-color: #799E9C;
}
.title-slide#predictev{
	background-color: lightgrey;
}

/* #louvre{
	background-color: #799E9C;

} */

.title-card{
	height:fit-content;
	/* border-radius: 10px; */
	padding: 36px 40px;
	color: white;
	margin-top:15px;
	background-color: #F2F2F2;
	border-bottom: 1px solid #40424A;

}

.title-img{
	margin-bottom:20px;
	/* background-color: #535C7A; */
} 

.title-img#ubiq{
	background-color: #535C7A;
}

.title-img#mayv{
	margin-bottom:20px;
	background-color: #E5CEAD;
} 

.title-img#predictev{
	background-color: lightgrey;
}

.title-img#louvre{
	background-color: #799E9C;
}

.title-img#archive{
	/* border-left-style: solid; */
	/* border-width: 1px; */
	height: fit-content;
}

#ubiq.title-card{
	background-color: #F2F2F2;


}

#ubiq.title-slide{
	background-color: #535C7A;
}


.hero{
	
}

hr {
	border:none;
	border-top:1px dotted #4F4F4F;
	/* color:#fff; */
	/* background-color:#fff; */
	height:1px;
	width:100%;
  }

.brief{
	padding: 0 30px;
}

/* -------------------- full-text-sections ----------------------------------------*/

.full-text {
	margin: 200px 0;


}


/* ------------------------ section styling ------------------------------------ */

.text-card{

    padding: 30px;
	border-style: solid;
	margin-bottom: 15px;
    
    border-width: 1px;
    border-radius: 10px;
}

.text-card#louvre{
	background-color: #E0E8E6;
	border-color: #97C1B7;
}

/* ------------- navigational elements ------------------------------ */

.nav-controls{
	display:inline-block;
	height: fit-content;
	padding: 0 15px;
}

.nav-button{
	border-radius: 50%;
    width: 30px;
	height: 30px;
	/* outline-style: solid; */
	background-color: #F2F2F2;
		/* outline-color: grey; */
	/* background-color: grey; */
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	/* box-shadow: 0 0 2px #000000; */
	transition: background-color .5s;
	transition-timing-function: ease-in-out;
}
.nav-icon{
	padding: 7px;
	transition: .5s;
}



#next #prev{
	filter: invert(23%) sepia(3%) saturate(30%) hue-rotate(314deg) brightness(95%) contrast(94%);
	transition: background-color .25s;
	transition-timing-function: ease-in-out;
	
}


.nav-button:hover{
	background-color: #40424A;
	
}
.nav-button:hover .nav-icon {
	filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(269deg) brightness(103%) contrast(102%);

}

.nav-button:hover #next {
	filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(269deg) brightness(103%) contrast(102%);

}


.button{
	padding: 10px 24px; 
	margin: 0 8px 8px 0;
	border-radius:50px;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff;
	width: fit-content;
	transition: all .5s ease;


}



.pressed p{
	color: #f2f2f2;
}

#mayv.button:hover{
	background-color: #CC6117;
  
}

.button:hover{
	background-color: #40424A;
  
}

.button:hover h4{
	color: #f2f2f2;
}

.footer-project{
	border-top-style: solid;
	border-bottom-style: solid;
	border-left: none;
	border-right: none;
	border-width: 1px;
	height: 150px;
	padding:0;
	transition: .5s ease-out;
}

.footer-project#mayv:hover {
	background-color: #E5CEAD;
}
.footer-project#ubiq:hover {
	background-color: #D8DFE3;

}
.footer-project#predictev:hover  {
	background-color: lightgrey;
}
.footer-project#louvre:hover  {
	background-color: #799E9C;


}
.next-project {
	margin: -1px 0 0 0;
}


/* -------------- carousel ------------------- */

.carousel-style {
	box-shadow: 5px 5px 602px #adb3ca9e, 0px 5px 25px #a0a0a0b0;
	border-radius: 5px;
}

/* ------------------------ animation ------------------------------- */

.an_1{
	/* --animate-duration: 800ms; */
	--animate-delay: 0.1s;
	-webkit-animation-delay: 0.1s;

}

.an_2{
	/* --animate-duration: 800ms; */
	--animate-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}
.an_3{
	/* --animate-duration: 800ms; */
	--animate-delay: .8s;
	-webkit-animation-delay: .8s;
}


/* ------------------------ Spacing ------------------------------- */

.overall-spacing {
	padding: 0 30px;
}
#custom-ubiq-1 {
	padding: 0 30px 0 30px;
}

#side-laptop{
	padding: 0 0 120px 60px;
}

.carousel-spacing{
	padding: 0 30px;
}


.m_0{
	margin:15px;
}
.mx_0{
	margin: 0 15px;
}

.my_0{
	margin: 15px 0;
}

.mt_0{
	margin-top: 15px;
}

.mb_0{
	
	margin-bottom: 15px;
}

.mr_0{
	margin-right: 15px;
}

.ml_0{
	margin-left:15px;
}

.p_0{
	padding:15px;
}
.px_0{
	padding: 0 15px;
}

.py_0{
	padding: 15px 0;
}

.pt_0{
	padding: 15px 0 0 0;
}

.pb_0{
	padding: 0;
	padding-bottom: 15px;
}

.pr_0{
	padding: 0;
	padding-right: 15px;
}

.pl_0{
	padding: 0;
	padding-left: 15px;
}


.m_1{
	margin:30px;
}
.mx_1{
	margin: 0 30px;
}

.my_1{
	margin: 30px 0;
}

.mt_1{
	margin-top: 30px;
}

.mb_1{
	
	margin-bottom: 30px;
}

.mr_1{
	margin-right: 30px;
}

.ml_1{
	margin-left:30px;
}

.p_1{
	padding:30px;
}
.px_1{
	padding: 0 30px;
}

.py_1{
	padding: 0;
	padding: 30px 0;
}

.pt_1{
	padding: 0;
	padding-top: 30px;
}

.pb_1{
	padding: 0;
	padding-bottom: 30px;
}

.pr_1{
	padding: 0;
	padding-right: 30px;
}

.pl_1{
	padding: 0;
	padding-left:30px;
}
/* mayv pictures */

.mobile-imgs-400 {
	height: 300;
	width: auto;
}
.mobile-imgs-500 {
	height: 300;
	width: auto;
}

.grid{
	margin:0  15px;
}
.half-grid {
	/* height: 500px; */

	left: 25px;
	
	border-style: solid;
	border-width: 1px;
	overflow-x: scroll;
	padding: 15px;
	border-radius: 10px;
	background-color: white;
	margin: 15px 0;
	/* padding: 30px; */
	/* display: flex; */

}

.full-grid {
	/* height: 500px; */
	border-style: solid;
	border-width: 1px;
	overflow: scroll;

}
.vert-layout-bottom{
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	align-items:center;
	padding: 20 20 0 20;

}
.vert-layout{
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	align-items:center;
	padding: 30;

}
.vert-text-top{
	/* padding: 24px 50px; */
	padding: 0 12;
	padding-bottom: 12px;
	
}

.vert-text-bottom{
	/* padding: 24px 50px; */
	padding-top: 12px;
	
}

.horizontal-layout {
	display:flex;
	flex-direction:column;
	padding: 20px;
	justify-content: center;
	align-items: center;
	
}

.horizontal-text-right{
	padding-top: 12px;
}

.vert-text-bottom > p  {
	padding-bottom: 0;
  }

.vert-text-top > p  {
	padding-bottom: 0;
  }

.horizontal-text-left > p {
	padding-bottom: 0;
  }

.horizontal-text-right > p {
	padding-bottom: 0;
  }
.horizontal-text-left{
	padding: 0 24px 0 0 ;
}




/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width @screen-sm-min) {
	
}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

	/* --------------- text-styling -------------------------------------------- */

@font-face {
	font-family: 'Suisse-Thin';
	src: url(../fonts/SuisseIntl-Thin.otf) format("opentype");
	font-weight: 400;
	}
	
	@font-face {
	font-family: 'Suisse-Regular';
	src: url(../fonts/SuisseIntl-Regular.otf) format("opentype");
	font-weight: 400;
	}
	
	@font-face {
	font-family: 'Suisse-Medium';
	src: url(../fonts/SuisseIntl-Medium.otf) format("opentype");
	font-weight: 400;
	}
	
	
	
	h1{
		font-family: 'Telegraf-Bold';
		font-weight: 400;
		font-size: 2.5rem;
		line-height:2.5rem;
		color: #40424A;
		padding-bottom: 15px;
		
	
	
	}
	
	h2{
		font-family: 'Telegraf-Regular';
		font-weight: 400;
		font-size: 1.3rem;
		color: #40424A
		/* margin-bottom:10px; */
	}
	
	.button h4{
		font-size: 1.2rem;
		margin-bottom:0;
		color: white;
		font-family:'Telegraf-Regular';
	}
	
	
	p{
	font-family: 'Telegraf-Regular';
	font-size: .95rem;
	margin:0;
	color: #40424A;
	padding-bottom: 15px;
	
	}

	b{
		font-family: 'Telegraf-Bold';
		color: #40424A;
	}
	
	
	/* .overline {
		font-family: 'Suisse-Regular';
		font-weight:400;
		font-size: 14pt;
		color: #5E70B1;
		/* letter-spacing: 1; */
	
		/* color: #ffffff; */
	 */


	.overline {
		font-family: 'iA-italic';
		font-weight:400;
		font-size: .8rem;
		/* color: #5E70B1; */
		/* letter-spacing: 1; */
		padding-bottom: .45rem;

		/* color: #ffffff; */
	}

	.overline#louvre{
		color: #219653
	}

	.overline#ubiq{
		color: #5E70B1;
	}
	  
	.label{
		
		font-size: 10pt;
		font-family: 'iA-italic';
		color: #4F4F4F;
		padding: 0;
								
	}
	
	
	mark{
		background-color: #FFEB36;
		background-radius: 5px;
	
	}
	
t.project-nav{
		/* margin-top: 2rem;
		margin-bottom: 40px; */
		text-align: right;
		/* margin-right: 2rem;
		margin-left: 2rem; */
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	
	}

	p#userflow-caption{
		padding: 0 50px;
		color: #818181;

	}
	
	.section{
		margin-bottom: 120px;
	}
	.showcase{
		padding: 50px 120px;
	}


/* ------------------------------Intro-Writeup Styling ------------------------------------------------------------ */

.title-slide{
	height: 100%;
	/* display: flex; */
	
}

.title-card{
	height:fit-content;
	/* border-radius: 10px; */
	padding: 80px 80px;
	color: white;
	margin-top:15px;
}

.title-img{
	margin-bottom:20px;
	padding: 75px;
	/* background-color: #535C7A; */
	
} 

#ubiq.title-card{
	background-color: #F2F2F2;


}

#ubiq.title-slide{
	background-color: #535C7A;
}

.hero{
	
}


#custom-ubiq-1 {
	padding: 0 150px;
}

.overall-spacing{
	width: 75%;
	margin-left: auto;
	margin-right:auto;
	/* padding: 0 170px; */
}
#side-laptop{
	padding: 0 0 120px 200px;
}
#ideation-photos{
	padding: 0 80px;
		
}
#desired-features{
	padding: 0px 240px;
		
}

.feature-display{
	height: 800px;
	padding: 100px;
	align-items: center;
}
.carousel-spacing{
	padding: 0 170px;
}
.carousel-photo{
	width: auto;
	height: 225px;
	max-height: 225px;
}


.footer-project{
	border-top-style: solid;
	border-bottom-style: solid;

	height: 170px;
	border-left: solid;
	border-right: solid;
	border-width: 1px;

}

.next-project {
	margin: 0 0 0 -1px;
}





 }



/* // Large devices (desktops, 992px and up) */

@media (min-width:992px) { 


	.navbar{
		padding: .8rem 55px;
		position: absolute;
		z-index: 2;
	}

	/* -----------Intro-Writeup Styling ---------------------------------------------------------------------------------------- */
	.title-slide{
		width: 100%
		height: 100vh;
		/* display: flex; */
		align-items: center;
		border-bottom: solid;
		border-width: 1px;
		
	}
	
	#ubiq.title-slide{
		background-color: #838FBB;
	}

	.title-card{
		height:fit-content;
		border-radius: 0px;
		padding:  55px;
    	color: white;
		margin-top: 0;
		/* height: 100%; */
		border-bottom: none;
	}

	.feature-panel{
		height:fit-content;
		border-radius: 0px;
		padding:  55px;
		color: white;
		
		margin-top: 0;
		/* height: 100%; */
		border-bottom: none;
	}
	
	#ubiq.title-card{
		background-color: #F2F2F2;
	
	
	}
	.hero{
		padding: 8rem;
	}
	
	.showcase{
		padding: 50px 120px;
	}

	.title-img{
		margin-bottom:0;
		padding: 15px;
		height: 100%;
	} 

	.feature-display{
		padding: 130px;
		margin-bottom:0;
		/* padding: 15px; */
		background-color: #E5CEAD;
		min-height: 100vh;
		/* height: 100%; */
	}

	#mayv.title-img{
		padding:150px;
	}

	.brief {
		padding-left: 55px;
	}



	/* -----full-text sections */

	.full-text{
		height:85%;
		padding: 0 350px 0 150px;
	}

	
	.container-fluid{
		padding: 0;
	}


	.callout{
		margin: 50px 0 ;
	}

	/* ---------------- Text ---------------------------------------- */
	
	  h1{
		  font-family: 'Telegraf-UltraBold';
		  font-weight: 400;
		  font-size: 35pt;
		  line-height:45px;
		  padding-bottom: 30px;

	
	  
	  }
	  
	  h2{
		  font-family: 'Telegraf-Regular';
		  font-weight: 400;
		  font-size: 1.8rem;
		  line-height: 2.7rem;
		  /* margin-bottom:10px; */
	  }
	  
	  h3{
		  font-family: 'Telegraf-Bold';
		  font-weight: 100;
		  font-size: 1.8rem;
		  color: #40424A;
	  }
	
	  h4{
		font-family: 'Telegraf-Thin';
		font-weight: 100;
		font-size: 11pt;
		color: #000000;	
	}
	  	  
	  h5{
	  
		  margin-bottom:0px;
	  }
	
	  p{
		font-family: 'Telegraf-Regular';
		font-size: 1.2rem;
		margin:0;
		padding-bottom: 0px;
	
	  }

	  li {
		font-family: 'Telegraf-Regular';
		font-size: 1.2rem;
		margin:0;
		padding-bottom: 30px;
		
	  }

	  .overline {
		  font-family: 'iA-italic';
		  font-weight:400;
		  font-size: .8rem;
		  /* color: #5E70B1; */
		  letter-spacing: auto;
		  padding-bottom: .5rem;
		  /* color: #ffffff; */
	  }

	
	mark{
		background-color: #FFEB36;
		background-radius: 5px;
	
	}
 /* ------------------------ Spacing ------------------------------- */

	.overall-spacing{
		/* padding: 0 350px; */
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	.text-spacing{
		padding:0 80px;
	}

	#custom-ubiq-1 {
		padding: 0 0 0 150px;
	}

	#side-laptop{
		padding: 0 0 120px 60px;
	}

	.picture-spacing{
		padding: 0 240px;
	}

	.carousel-spacing{
		padding: 0 150px;
	}

	ul, ol {
		padding: 30 0 0 0;
	}
	/* pictures */

	.grid{
		margin:0  100px;
	}
	.half-grid {
		/* height: 500px; */
		border-style: solid;
		border-width: 1px;
		overflow: hidden;
		padding: 15px;
		border-radius: 15px;
		background-color: white;
		margin: 8px;
		/* padding: 30px; */
		/* display: flex; */

	}
	
	.full-grid {
		/* height: 500px; */
		border-style: solid;
		border-width: 1px;
		overflow: hidden;

	}
	.vert-layout-bottom{
		display:flex;
		flex-direction:column;
		justify-content: space-between;
		align-items:center;
		padding: 30 30 0 30;

	}
	.vert-layout{
		display:flex;
		flex-direction:column;
		justify-content: space-between;
		align-items:center;
		padding: 30;

	}
	.vert-text{
		padding: 24px 50px;
		
	}

	.horizontal-layout {
		display:flex;
		flex-direction:row;
		padding: 30px;
		justify-content: center;
		align-items: center;
		
	}

	.horizontal-text-right{
		padding: 0 0 0 24px;
	}
	.horizontal-text-left{
		padding: 0 24px 0 0 ;
	}

	.mobile-imgs-400 {
		height: 400;
		width: auto;
	}
	.mobile-imgs-500 {
		height: 500;
		width: auto;
	}
	


}


	
	
 



/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1441px) {

	.grid{
		margin:0  200px;
	}

	.overall-spacing{
		max-width: 40%;
	}

 }

